.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;

    img{
        border-radius: 24px;
    }

    h1{
        font-size: 24px;
        font-weight: 600;
        line-height: 42px;
        color: var(--text-primary);
    }

    h2{
        font-size: 15px;
        font-weight: 400;
        font-style: italic;
        line-height: 30px;
        color: var(--text-secondary);
    }

    @media (min-width: 750px) {
        justify-content: start;
        flex-direction: row-reverse;

        img{
            border-radius: 50%;
            border: 2px solid white;
        }

        h1{
            font-size: 36px;
            line-height: 54px;
        }

        h2{
            font-size: 30px;
            line-height: 45px;
            font-style: normal;
        }
    }
}