.projects-section{
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3{
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
        color: var(--text-primary);
        text-align: center;
        margin: 0;
    }

    @media (min-width: 750px) {

        h3{
            font-size: 24px;
        }
    }

    .projects-grid{
        display: flex;
        flex-direction: column;
        grid-gap: 16px;
        margin: 0 auto;

        @media (min-width: 750px) {
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}