:root {
  --text-primary: #ffffff;
  --text-secondary: #B3B3B3;
  --text-dark: #373738;
  --bg-primary: #2C2C2C;
  --bg-secondary: #ffffff;
  --green-detail: #2ecf0e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  background-color: var(--bg-primary);
}

main{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 32px;

  @media (min-width: 750px) {
    padding: 70px 60px;
  }
}