.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    grid-area: social;

    a{
        height: 50px;
        width: 50px;
        border: 2px solid white;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}