.education-area{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, fit-content);
    align-items: center;
    margin: 0 auto;

    @media (min-width: 750px) {
        max-width: 380px;
    }

    span{
     color: var(--text-secondary);   
    }

    .graduation-cap-emoji{
        font-size: 24px;
    }

}