.education-area{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(2, fit-content);
    grid-area: education;
    align-items: center;

    span{
     color: var(--text-secondary);   
    }

    .graduation-cap-emoji{
        font-size: 24px;
    }
}